.logo{
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    margin-right: 300px;
 }
 .login-button {
     padding-left: 10px;
     margin-left: 80px;
 }
 .button{
     padding: auto;
     padding-right: 100px;
     margin: auto;
   
 }
 .banner{
    background-image: url(../../images/bannerbackground.png);
padding: 15%;
background-repeat: no-repeat;
    
}
.picture{
    padding: 80px;

}

.extra{
    padding-left: 150px;
}

.icon{
padding: 20px;
border-radius: 25px;

}